
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    {% load static %}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Administrator	</title>

    {% include './include/link_lib.html' %}
</head>

<body>
    <div id="wrapper">
        {% include "./include/nav_horizontal.html" %}
        {% include "./include/nav_vertical.html" %}

        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            Profile <small>user </small>
                        </h1>
                    </div>
                </div>
                <!-- /. ROW  -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <form  method="post">
                                <fieldset class="form_password" >
                                    {% csrf_token%}
                                    <div class="">
                                        {% for message in messages %}
                                            <p {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} ><b>{{message}}</b></p>
                                        {% endfor %}
                                    </div>
                                    <form method="post">
                                        {% csrf_token %}
                                            <tr class="form-group">
                                                <th><label for="id_old_password">Old password:</label></th>
                                                <td>
                                                    <input class="form-control" type="password" name="old_password" class="input_password" autocomplete="current-password" autofocus required id="id_old_password">
                                                </td>
                                            </tr>
                                             <tr class="form-group">
                                                <th><label for="id_new_password1">New password:</label></th>
                                                <td>
                                                    <span class="helptext">
                                                        <ul class="text_password">
                                                            <li>Your password can’t be too similar to your other personal information.</li>
                                                            <li>Your password must contain at least 8 characters.</li>
                                                            <li>Your password can’t be a commonly used password.</li>
                                                            <li>Your password can’t be entirely numeric.</li>
                                                        </ul>
                                                    </span>
                                                    <input class="form-control" type="password" name="new_password1" class="input_password" autocomplete="new-password" required id="id_new_password1">
                                                </td>
                                            </tr>
                                            <tr class="form-group">
                                                <th><label for="id_new_password2">New password confirmation:</label></th>
                                                <td>
                                                    <input class="form-control" type="password" name="new_password2" class="input_password"  autocomplete="new-password" required id="id_new_password2">
                                                </td>
                                            </tr> <br>
                                        <button type="submit" class="btn btn-primary submit">Save changes</button>
                                      </form>
                                </fieldset>
                            </form>

                        </div>
                    </div>
                      <!-- End  Basic Table  -->
                </div>
                <!-- /. ROW  -->
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->

    <!-- JS Scripts-->
    <!-- Metis Menu Js -->
    <script src="{% static 'polls/admin/assets/js/jquery.metisMenu.js' %}"></script>
    <!-- Morris Chart Js -->
    <script src="{% static 'polls/admin/assets/js/morris/raphael-2.1.0.min.js' %}"></script>

    <!-- Custom Js -->
    <script src="{% static 'polls/admin/assets/js/custom-scripts.js' %}"></script>

</body>

</html>